<h1 class="page-header">
  Dashboard
</h1>

<div class="jumbotron">
  <a href="<%= session_path(@conn, :new) %>" class="btn btn-lg btn-primary">Login</a>
  <a href="<%= registration_path(@conn, :new) %>" class="btn btn-lg btn-danger">Register</a>
</div>
